* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-remove-button {
    border: 0px;
    border-radius: 4px;
    background-color: #e47937;

    padding: 4px 7px 4px 7px;

}

.cart-remove-button>i {
    color: #fff;

}

.cart-button {
    /* border: 1px solid black; */
    border: 0px;
    border-radius: 4px;
    background-color: #e47937;
    padding: 0px 11px 0px 11px;

}

.cart-button>i {
    font-size: 12px;
    color: #fff;
    line-height: 2rem;
}

.cart-input {
    width: 80%;
    margin: auto;

}

.cart-input>input {
    width: 80%;
    margin: auto;

    border: 0px;
    outline: 0;
}

.checkout-button {
    font-size: 13px;
    width: auto;
    padding: 0 34px;
    background-color: #e47937;
    border: 1px solid #ff6200;
    color: #fff;
    border-radius: 40px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.checkout-button>a {
    color: #fff;
}

.checkout-button>a:hover {
    cursor: pointer;
}