* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homeCardSlider-top {
    text-align: center;
}

.homeCardSlider-top>h2 {
    display: inline-block;
    position: relative;
    color: #000;
    line-height: 24px;
}

.homeCardSlider-top>h2::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
    left: -75px;
}

.homeCardSlider-top>h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}

.homeCardSlider-top>p {
    font-style: italic;
    font-size: 14px;
    color: #878787;
    margin-top: 5px;
    line-height: 16px;
    letter-spacing: .5px;
}

.homeCardSlider {
    width: 96%;
    margin: auto;
    padding: 5px;
}

.homeCardSlider>img {
    width: 97%;
    margin: auto;
    border-radius: 4px;

}